<form [formGroup]="reassignForm" #form="ngForm" (ngSubmit)="submit()" class="p-3 w-fit">
  <ui-form-error [formName]="FormName.REASSIGN_VENUE"></ui-form-error>

  <ui-form-field-error [form]="form" [errorFor]="'venueID'" [errorType]="'required'">Venue ID is required</ui-form-field-error>
  <ui-form-field-error [form]="form" [errorFor]="'accountID'" [errorType]="'required'">Account ID is required</ui-form-field-error>

  <div class="inline-block mx-2 my-2">
    <i class="inline-block mx-1 text-2xl align-middle fa-solid fa-hashtag w-8 text-mmRust"></i>
    <input
      type="text"
      placeholder="Venue ID"
      formControlName="venueID"
      class="border-b border-gray-800 dark:border-gray-500 inline-block align-middle px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none focus:rounded-md focus:outline-mmRust focus:outline-1 placeholder:text-gray-500 text-mmRust" />
  </div>

  <div class="inline-block mx-2 my-2">
    <i class="inline-block mx-1 text-2xl align-middle fa-solid fa-user w-8 text-mmRust"></i>
    <input
      type="text"
      placeholder="Account ID"
      formControlName="accountID"
      class="border-b border-gray-800 dark:border-gray-500 inline-block align-middle px-3 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none focus:rounded-md focus:outline-mmRust focus:outline-1 placeholder:text-gray-500 text-mmRust" />
  </div>

  <br />

  <button
    [disabled]="isLoading$ | async"
    class="bg-mmBlue font-bold text-gray-100 rounded-md px-3 py-2 my-3 outline-none focus:outline-mmRust focus:outline-1 hover:bg-mmDarkBlue active:bg-mmDarkerBlue disabled:bg-slate-500"
    type="submit">
    Reassign Owner
  </button>
</form>
