<form [formGroup]="hoursForm" #form="ngForm" (ngSubmit)="submit()" class="p-3 rounded-md border border-mmRust">
  <div class="inline-block mr-1">
    <input
      type="radio"
      id="radioconstant"
      formControlName="isConstant"
      [value]="true"
      (change)="prepareIsConstant()"
      class="flex-auto self-center max-w-44 border-b border-gray-800 dark:border-gray-500 px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none" />
    <label for="radioconstant" class="inline-block mx-1">Constant</label>
  </div>
  <div class="inline-block mx-1">
    <input
      type="radio"
      id="radiovariable"
      formControlName="isConstant"
      [value]="false"
      (change)="prepareIsVariable()"
      class="flex-auto self-center max-w-44 border-b border-gray-800 dark:border-gray-500 px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none" />
    <label for="radiovariable" class="inline-block mx-1">Variable</label>
  </div>

  <ng-container *ngIf="hoursForm.controls.isConstant.value; else isVariable">
    <div class="my-2">
      <ui-form-field-error [form]="form" [errorFor]="'day'" [errorType]="'required'">Please select a day</ui-form-field-error>
      <div class="flex my-1">
        <i class="flex-initial self-center text-2xl fa-regular fa-calendar w-8 text-mmRust"></i>
        <p class="self-center">Day:</p>
        <select
          formControlName="day"
          class="flex-initial self-center border-b border-gray-800 dark:border-gray-500 px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none hover:cursor-pointer outline-none placeholder:text-gray-500 text-mmRust">
          <option disabled [value]="null">Select Day...</option>
          <option>Sunday</option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
        </select>
      </div>

      <ui-form-field-error [form]="form" [errorFor]="'openHour'" [errorType]="'required'">Please enter an opening time</ui-form-field-error>
      <ui-form-field-error [form]="form" [errorFor]="'openHour'" [errorType]="'pattern'">Invalid format</ui-form-field-error>
      <div class="flex my-1">
        <i class="flex-initial self-center text-2xl fa-regular fa-clock w-8 text-mmRust"></i>
        <p class="self-center">Open:</p>
        <select
          formControlName="openHour"
          class="flex-initial self-center border-b border-gray-800 dark:border-gray-500 px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none hover:cursor-pointer outline-none placeholder:text-gray-500 text-mmRust">
          <option disabled [value]="null">Hour</option>
          <option value="0">12 AM</option>
          <option value="1">1 AM</option>
          <option value="2">2 AM</option>
          <option value="3">3 AM</option>
          <option value="4">4 AM</option>
          <option value="5">5 AM</option>
          <option value="6">6 AM</option>
          <option value="7">7 AM</option>
          <option value="8">8 AM</option>
          <option value="9">9 AM</option>
          <option value="10">10 AM</option>
          <option value="11">11 AM</option>
          <option value="12">12 PM</option>
          <option value="13">1 PM</option>
          <option value="14">2 PM</option>
          <option value="15">3 PM</option>
          <option value="16">4 PM</option>
          <option value="17">5 PM</option>
          <option value="18">6 PM</option>
          <option value="19">7 PM</option>
          <option value="20">8 PM</option>
          <option value="21">9 PM</option>
          <option value="22">10 PM</option>
          <option value="23">11 PM</option>
        </select>
        <p>:</p>
        <select
          formControlName="openMinute"
          class="flex-initial self-center border-b border-gray-800 dark:border-gray-500 px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none hover:cursor-pointer outline-none placeholder:text-gray-500 text-mmRust">
          <option disabled [value]="null">Min</option>
          <option *ngFor="let item of [].constructor(60); let i = index" value="{{ i }}">{{ i }}</option>
        </select>
      </div>

      <ui-form-field-error [form]="form" [errorFor]="'closeHour'" [errorType]="'required'">Please enter a closing time</ui-form-field-error>
      <ui-form-field-error [form]="form" [errorFor]="'closeHour'" [errorType]="'pattern'">Invalid format</ui-form-field-error>
      <div class="flex my-1">
        <i class="flex-initial self-center text-2xl fa-regular fa-clock w-8 text-mmRust"></i>
        <p class="self-center">Close:</p>
        <select
          formControlName="closeHour"
          class="flex-initial self-center border-b border-gray-800 dark:border-gray-500 px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none hover:cursor-pointer outline-none placeholder:text-gray-500 text-mmRust">
          <option disabled [value]="null">Hour</option>
          <option value="0">12 AM</option>
          <option value="1">1 AM</option>
          <option value="2">2 AM</option>
          <option value="3">3 AM</option>
          <option value="4">4 AM</option>
          <option value="5">5 AM</option>
          <option value="6">6 AM</option>
          <option value="7">7 AM</option>
          <option value="8">8 AM</option>
          <option value="9">9 AM</option>
          <option value="10">10 AM</option>
          <option value="11">11 AM</option>
          <option value="12">12 PM</option>
          <option value="13">1 PM</option>
          <option value="14">2 PM</option>
          <option value="15">3 PM</option>
          <option value="16">4 PM</option>
          <option value="17">5 PM</option>
          <option value="18">6 PM</option>
          <option value="19">7 PM</option>
          <option value="20">8 PM</option>
          <option value="21">9 PM</option>
          <option value="22">10 PM</option>
          <option value="23">11 PM</option>
        </select>
        <p>:</p>
        <select
          formControlName="closeMinute"
          class="flex-initial self-center border-b border-gray-800 dark:border-gray-500 px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none hover:cursor-pointer outline-none placeholder:text-gray-500 text-mmRust">
          <option disabled [value]="null">Min</option>
          <option *ngFor="let item of [].constructor(60); let i = index" value="{{ i }}">{{ i }}</option>
        </select>
      </div>

      <ui-form-field-error [form]="form" [errorFor]="'timezoneID'" [errorType]="'required'">Please choose a Timezone</ui-form-field-error>
      <div class="flex my-1">
        <i class="flex-initial self-center text-2xl fa-solid fa-earth-americas w-8 text-mmRust"></i>
        <p class="self-center">Timezone:</p>
        <select
          formControlName="timezoneID"
          class="flex-initial self-center border-b border-gray-800 dark:border-gray-500 px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none hover:cursor-pointer outline-none placeholder:text-gray-500 text-mmRust">
          <option disabled [value]="null">Timezone...</option>
          <option value="Pacific/Honolulu">Hawaii</option>
          <option value="America/Anchorage">Alaska</option>
          <option value="America/Los_Angeles">Pacific</option>
          <option value="America/Denver">Mountain</option>
          <option value="America/Chicago">Central</option>
          <option value="America/New_York">Eastern</option>
        </select>
      </div>
    </div>
  </ng-container>
  <ng-template #isVariable>
    <div>
      <ui-form-field-error [form]="form" [errorFor]="'variableDay'" [errorType]="'required'">
        Please specify the days this is open
      </ui-form-field-error>
      <div class="flex my-1">
        <i class="flex-initial self-center text-2xl fa-regular fa-calendar w-8 text-mmRust"></i>
        <p class="self-center">Days:</p>
        <input
          type="string"
          placeholder="M - F"
          formControlName="variableDay"
          class="flex-auto self-center max-w-44 border-b border-gray-800 dark:border-gray-500 px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none placeholder:text-gray-500 text-mmRust" />
      </div>

      <ui-form-field-error [form]="form" [errorFor]="'variableTimes'" [errorType]="'required'">
        Please specify the times this is open
      </ui-form-field-error>
      <div class="flex my-1">
        <i class="flex-initial self-center text-2xl fa-regular fa-clock w-8 text-mmRust"></i>
        <p class="self-center">Times:</p>
        <input
          type="string"
          placeholder="8PM - 10PM ET"
          formControlName="variableTimes"
          class="flex-auto self-center max-w-44 border-b border-gray-800 dark:border-gray-500 px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none placeholder:text-gray-500 text-mmRust" />
      </div>
    </div>
  </ng-template>
  <button class="px-2 py-1 rounded-md bg-mmRust hover:bg-mmDarkRust active:bg-mmDarkerBlue text-mmSand">
    <i class="fa-solid fa-plus"></i>
    Add
  </button>
</form>
