<h1 class="text-center font-lilitaOne text-3xl mb-2">Terms of Service</h1>
<p class="my-3">
  Welcome to KinkShell, an optional, unofficial mod for Final Fantasy XIV. Before you proceed to use our service, please read these terms carefully.
  By accessing or using KinkShell, you agree to be bound by these terms. If you do not agree with any part of these terms, you may not use our
  service.
</p>
<p class="my-3">
  <strong>Affiliation:</strong>
  KinkShell is an independent project and is not associated with Square Enix Co., Ltd., or any of its affiliates. Furthermore, KinkShell is not
  affiliated with Dalamud or XIVLauncher.
</p>

<h2 class="text-xl font-semibold my-3">Liability:</h2>
<ul class="list-disc ml-3">
  <li>
    The use of video game mods like KinkShell is not permitted under the Square Enix terms of use. Any punitive action taken against your account as a
    result of using this mod is your responsibility, as we assume no liability for such actions.
  </li>
  <li>While we strive to make KinkShell undetectable, we cannot guarantee complete anonymity. Use KinkShell at your own risk.</li>
  <li>
    KinkShell is currently under development. We do not assume liability for any property or emotional damages resulting from your use of this mod.
  </li>
  <li>
    KinkShell utilizes a standardized installation and uninstallation process through the Dalamud library. Any attempt to tamper with its sources or
    code is prohibited.
  </li>
</ul>

<h2 class="text-xl font-semibold my-3">Availability:</h2>
<ul class="list-disc ml-3">
  <li>
    KinkShell is currently in a closed beta test and is not in a finished state. Users should not expect product stability, and some features may not
    work as described.
  </li>
  <li>
    During the beta testing period, KinkShell is provided to users free of charge. After the beta period ends, the developer reserves the right to
    adjust pricing models and available features at their discretion.
  </li>
</ul>

<h2 class="text-xl font-semibold my-3">User Interaction:</h2>
<ul class="list-disc ml-3">
  <li>
    Users interact with KinkShell via chat messages and configured instructions ("patterns") intended for adult toys. It's important to note that chat
    messages are not moderated or screened for safety.
  </li>
  <li>KinkShell assumes no liability for the content of messages sent by users on the platform.</li>
  <li>
    Adult toy commands are stored and transmitted in a proprietary format and decoded for use with the Intiface Central desktop software. Intiface
    Central is a third-party application that oversees communication between KinkShell and the user's connected devices.
  </li>
</ul>
