<h1 class="text-center font-lilitaOne text-3xl mb-2">Terms of Service</h1>
<p class="my-3">
  Welcome to MiqoMixers, an unofficial directory for Final Fantasy XIV roleplaying venues. Before you proceed to use our service, please read these
  terms carefully. By accessing or using MiqoMixers, you agree to be bound by these terms. If you do not agree with any part of these terms, you may
  not use our service. These terms, our Privacy Policy, and our Content Guidelines are subject to change with or without notice.
</p>
<p class="my-3">
  <strong>Affiliation:</strong>
  MiqoMixers is an independent project and is not associated with Square Enix Co., Ltd., or any of its affiliates.
</p>

<h2 class="text-xl font-semibold my-3">Liability:</h2>
<ul class="list-disc ml-3">
  <li>
    MiqoMixers is currently under development. We do not assume liability for any damages, tangible or intangible, material or nonmaterial, resulting
    from your use of this service.
  </li>
  <li>
    MiqoMixers takes no responsibility for user interactions off of our platform. This includes on external websites, in-game, and in any messaging
    applications.
  </li>
</ul>

<h2 class="text-xl font-semibold my-3">Availability:</h2>
<ul class="list-disc ml-3">
  <li>MiqoMixers is currently provided to users free of charge. Pricing and feature availability are subject to change with or without notice.</li>
</ul>

<h2 class="text-xl font-semibold my-3">Content Moderation:</h2>
<ul class="list-disc ml-3">
  <li>
    MiqoMixers hosts user-generated content to provide the venue catalog. Content found on MiqoMixers does not necessarily reflect the opinions of the
    site administrators.
  </li>
  <li>
    If content is found on the platform that infringes upon a copyright or trademark, is inflammatory or targets a person or group, is deemed illegal
    by an official authority in the United States, or is otherwise deemed to be in violation of the content guidelines - in the administrators' sole
    discretion, the content may be removed without notice.
  </li>
</ul>
