<h1 class="text-center font-lilitaOne text-3xl mb-2">Privacy Policy</h1>
<h2 class="text-xl font-semibold my-2">Information Collected</h2>
<p class="my-1">
  We ("MiqoMixers") collect information from you for the purposes of providing service to your account. This information is required, and includes an
  email address, password, and connected Final Fantasy: XIV character. Some of this information, such as your Final Fantasy: XIV character name, may
  be shown to site visitors in accordance with our terms of use.
</p>
<h2 class="text-xl font-semibold my-2">How it is Collected</h2>
<p class="my-1">MiqoMixers only collects information that you grant to us:</p>
<ul class="list-disc ml-5">
  <li>On the website, during registration, venue posting, and profile editing</li>
</ul>
<p class="my-1">
  In addition, the MiqoMixers website uses third-party tools to evaluate your request and ensure the safety of the service from cyber threats and
  attacks. Your data in those cases will be governed by those tools' respective privacy policies:
</p>
<ul class="list-disc ml-5">
  <li>Google ReCaptcha</li>
  <li>Google Fonts</li>
  <li>Font Awesome</li>
  <li>MongoDB Atlas</li>
</ul>
<h2 class="text-xl font-semibold my-2">How We Use Your Information</h2>
<p class="my-1">
  Your data is collected in order to be processed for the sole purpose of providing the MiqoMixers service. Some data collected automatically, such as
  through Google ReCaptcha, is used to calculate a browser risk score during registration and log-in. This data is processed under Google ReCaptcha's
  respective policies, and MiqoMixers is only made aware of the final score result.
</p>
<p class="my-1">
  Information you explicitly provide to us, such as log-in information, is processed and stored in a secure database according to modern security best
  practices. Venue posts, profile information, and other user-generated data is processed in an encrypted fashion and used only to provide functioning
  service.
</p>
<h2 class="text-xl font-semibold my-2">Sharing of Information</h2>
<p class="my-1">
  We do not share your data with any third-parties apart from the parties listed in the previous sections for the reasons given, except where required
  by law. We will never share your data for marketing or promotional purposes.
</p>
<p class="my-1">
  Certain pieces of your data, such as your public Final Fantasy: XIV character name, may be shared with other users on the service only alongside
  public Venue posts made by you.
</p>
<h2 class="text-xl font-semibold my-2">Your Rights</h2>
<p class="my-1">
  Under this privacy policy, you have the right to request deletion of your account and all associated data at any time. This process can be done by
  the user after authenticating on the MiqoMixers website. We do not support contacting the site admin to assist with data deletion at this time. We
  also do not provide a means for users to download a copy of their data.
</p>
