<h1 class="text-center font-lilitaOne text-3xl mb-2">Privacy Policy</h1>
<h2 class="text-xl font-semibold my-2">Information Collected</h2>
<p class="my-1">
  We ("KinkShell") may collect information from you for the purposes of providing service to your account. This information is required, and includes
  a username, password, and display name that you choose. Some of this information, such as your display name, may be shown to other KinkShell users
  in accordance with our terms of use.
</p>
<h2 class="text-xl font-semibold my-2">How it is Collected</h2>
<p class="my-1">KinkShell collects information in a small number of ways, when you explicitly grant it to us:</p>
<ul class="list-disc ml-5">
  <li>On the website, during registration and profile editing</li>
  <li>In the Dalamud mod client, when creating KinkShells and sending messages</li>
</ul>
<p class="my-1">
  In addition, the KinkShell website uses third-party tools to evaluate your request and ensure the safety of the service from cyber threats and
  attacks. Your data in those cases will be governed by those tools' respective privacy policies:
</p>
<ul class="list-disc ml-5">
  <li>Google ReCaptcha</li>
  <li>Google Fonts</li>
  <li>Font Awesome</li>
  <li>MongoDB Atlas</li>
</ul>
<h2 class="text-xl font-semibold my-2">How We Use Your Information</h2>
<p class="my-1">
  Your data is collected in order to be processed for the sole purpose of providing the KinkShell service. Some data collected automatically, such as
  through Google ReCaptcha, is used to calculate a browser risk score during registration and log-in. This data is processed under Google ReCaptcha's
  respective policies, and KinkShell is only made aware of the final score result.
</p>
<p class="my-1">
  Information you explicitly provide to us, such as log-in information, is processed and stored in a secure database according to modern security best
  practices. Chat messages, user sessions, chatrooms, and other user-generated data is processed in an encrypted fashion and shared only with other
  users who have been permitted access to view those messages, chatrooms, and sessions.
</p>
<h2 class="text-xl font-semibold my-2">Sharing of Information</h2>
<p class="my-1">
  We do not share your data with any third-parties apart from the parties listed in the previous sections for the reasons given. We will never share
  your data for marketing or promotional purposes.
</p>
<p class="my-1">
  Certain pieces of your data, such as your randomly-generated account ID and your chosen display name, may be shared with other users on the service
  as per normal use of the service for the purposes of enabling communication between users.
</p>
<p class="my-1">
  KinkShell does not record, log, or save messages exchanged by users, and therefore cannot comply with data retrieval requests of any kind. Messages
  are processed in Random Access Memory only, and cleared after the processing completes.
</p>
<h2 class="text-xl font-semibold my-2">Your Rights</h2>
<p class="my-1">
  Under this privacy policy, you have the right to request deletion of your account and all associated data at any time. This process can be done by
  the user after authenticating on the KinkShell website. We do not support contacting the site admin to assist with data deletion at this time. We
  also do not provide a means for users to download a copy of their data.
</p>
