<form [formGroup]="changeCharacterForm" #form="ngForm" (ngSubmit)="submit()" class="my-5 text-left w-fit mx-auto">
  <ui-form-error [formName]="FormName.CHANGE_CHARACTER"></ui-form-error>

  <div>
    <ui-form-field-error [form]="form" [errorFor]="'characterName'" [errorType]="'required'">This field is required</ui-form-field-error>
    <ui-form-field-error [form]="form" [errorFor]="'characterName'" [errorType]="'maxlength'">Names cannot exceed 20 characters</ui-form-field-error>
    <ui-form-field-error [form]="form" [errorFor]="'characterName'" [errorType]="'pattern'">
      Names can only include letters, numbers, _, -, and '
    </ui-form-field-error>
    <div class="inline-block mx-2 my-2">
      <i class="inline-block mx-1 text-2xl align-middle fa-solid fa-user-large w-8 text-mmRust"></i>
      <input
        data-1p-ignore
        type="text"
        placeholder="Character Name"
        formControlName="characterName"
        class="border-b border-gray-800 dark:border-gray-500 inline-block align-middle px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none focus:rounded-md focus:outline-mmRust focus:outline-1 placeholder:text-gray-500 text-mmRust" />
    </div>
  </div>
  <div>
    <ui-form-field-error [form]="form" [errorFor]="'characterServer'" [errorType]="'required'">This field is required</ui-form-field-error>
    <div class="inline-block mx-2 my-2">
      <i class="inline-block mx-1 text-2xl align-middle fa-solid fa-globe w-8 text-mmRust"></i>

      <select
        formControlName="characterServer"
        class="border-b border-gray-800 dark:border-gray-500 inline-block align-middle px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none hover:cursor-pointer outline-none focus:rounded-md focus:outline-mmRust focus:outline-1 placeholder:text-gray-500 text-mmRust">
        <optgroup label="Aether">
          <option>Adamantoise</option>
          <option>Cactuar</option>
          <option>Faerie</option>
          <option>Gilgamesh</option>
          <option>Jenova</option>
          <option>Midgardsormr</option>
          <option>Sargatanas</option>
          <option>Siren</option>
        </optgroup>
        <optgroup label="Crystal">
          <option>Balmung</option>
          <option>Brynhildr</option>
          <option>Coeurl</option>
          <option>Diabolos</option>
          <option>Goblin</option>
          <option>Malboro</option>
          <option>Mateus</option>
          <option>Zalera</option>
        </optgroup>
        <optgroup label="Dynamis">
          <option>Cuchulainn</option>
          <option>Golem</option>
          <option>Halicarnassus</option>
          <option>Kraken</option>
          <option>Maduin</option>
          <option>Marilith</option>
          <option>Rafflesia</option>
          <option>Seraph</option>
        </optgroup>
        <optgroup label="Primal">
          <option>Behemoth</option>
          <option>Excalibur</option>
          <option>Exodus</option>
          <option>Famfrit</option>
          <option>Hyperion</option>
          <option>Lamia</option>
          <option>Leviathan</option>
          <option>Ultros</option>
        </optgroup>
      </select>
    </div>
  </div>

  <div class="text-center">
    <button
      [disabled]="isLoading$ | async"
      class="bg-mmBlue font-bold text-gray-100 rounded-md px-3 py-2 my-3 outline-none focus:outline-mmRust focus:outline-1 hover:bg-mmDarkBlue active:bg-mmDarkerBlue disabled:bg-slate-500"
      type="submit">
      Change Character
    </button>
  </div>
</form>
