<h1 class="text-center font-lilitaOne text-3xl mb-2">Content Guidelines</h1>
<h2 class="text-xl font-semibold my-2">Dedicated to Community</h2>
<p class="my-1">
  MiqoMixers was founded on the ideals of bringing players together. By connecting players to new venues, we hope to foster new communities and make
  Eorzea feel a little bit smaller.
</p>
<p class="my-1">
  These Content Guidelines, while not exhaustive, serve to help you make the best listing possible on MiqoMixers. We want to lay out our expectations
  to ensure that everyone on the platform feels safe and welcome. Please review these guidelines carefully! Any listings that are found in violation
  may be removed, and your account may be suspended.
</p>

<div class="p-3 my-3 border border-mmBlue rounded-md">
  <h2 class="text-xl font-semibold">Recommended Tips</h2>
  <p class="my-1">Here are some tips we recommend for making your MiqoMixers listing stand out:</p>
  <ul class="list-disc ml-5">
    <li>Add relevant tags to your venue, but keep them short and recognizable</li>
    <li>Briefly describe your venue and why new visitors should check it out</li>
    <li>Include a link to your venue's external website, such as a Carrd</li>
    <li>Ensure the venue location and open hours are correct</li>
  </ul>
</div>

<div class="p-3 my-3 border border-mmRust rounded-md">
  <h2 class="text-xl font-semibold">Prohibited Content</h2>
  <p class="my-1">We will not allow listings that promote:</p>
  <ul class="list-disc ml-5">
    <li>Hate speech or defaming words targeted at a person or group</li>
    <li>Discrimination on the basis of race, gender, sexual orientation, religion, or disability</li>
    <li>Requiring downloads of a third-party tool in order to visit the venue</li>
    <li>Venues in other games besides Final Fantasy: XIV</li>
    <li>Meetups or conventions that take place outside of the game</li>
  </ul>
</div>

<div class="p-3 my-3 border border-mmRust rounded-md">
  <h2 class="text-xl font-semibold">Additional Rules for "18+" Content</h2>
  <p class="my-1">
    While explicit content is not permitted in your MiqoMixers listing, we understand that many venues cater to adult audiences. All mature content
    should be kept in your venue's external website for interested visitors to peruse further.
  </p>
  <p class="my-1">For venues where mature themes are a key component, please follow these guidelines for your MiqoMixers listing:</p>
  <ul class="list-disc ml-5">
    <li>Include the appropriate tags in your listing (e.g., "18+", "NSFW")</li>
    <li>Direct visitors to your venue's external website for more information</li>
    <li>Do not attempt to solicit underage visitors</li>
    <li>Venue names with explicit words in the title should be censored or excluded</li>
  </ul>
</div>

<h2 class="text-xl font-semibold my-2">Moderation Policy</h2>
We hope that all our users will play fair and share their exciting venues with the world. However, we understand that sometimes, bad actors cause
disruption. Any venue listings that are found to be in violation of this policy may be removed with or without notice. We take our community very
seriously, and will work diligently to address any concerns with content on our platform. At our moderators' discretion, users that repeatedly offend
or post excessively egregious content may be suspended from the service indefinitely.
<p class="my-1"></p>

<h2 class="text-xl font-semibold my-2">Closing Thoughts</h2>
<p class="my-1">
  We are incredibly excited to see what venues you'll share with MiqoMixers visitors. Please remember to check back here regularly, as our guidelines
  may change and be improved as time goes on. If you have any concerns about listings found on our website, please reach out so your concerns can be
  addressed. Thank you for making the extra effort to ensure MiqoMixers is fun for everybody!
</p>
