<form [formGroup]="registerForm" #form="ngForm" (ngSubmit)="submit()" class="p-3">
  <ui-form-error [formName]="FormName.REGISTER_ACCOUNT"></ui-form-error>

  <ui-form-field-error [form]="form" [errorFor]="'email'" [errorType]="'required'">Email is required</ui-form-field-error>
  <ui-form-field-error [form]="form" [errorFor]="'password'" [errorType]="'required'">Password is required</ui-form-field-error>
  <ui-form-field-error [form]="form" [errorFor]="'password'" [errorType]="'minlength'">Passwords must be at least 8 characters</ui-form-field-error>
  <ui-form-field-error [form]="form" [errorFor]="'password'" [errorType]="'pattern'">
    Passwords must include an uppercase letter, lowercase letter, and a number
  </ui-form-field-error>
  <ui-form-field-error [form]="form" [errorFor]="'characterName'" [errorType]="'required'">Character Name is required</ui-form-field-error>
  <ui-form-field-error [form]="form" [errorFor]="'characterName'" [errorType]="'pattern'">
    Character Name contains invalid characters
  </ui-form-field-error>
  <ui-form-field-error [form]="form" [errorFor]="'characterName'" [errorType]="'maxlength'">
    Character names must be shorter than 20 characters
  </ui-form-field-error>
  <ui-form-field-error [form]="form" [errorFor]="'characterServer'" [errorType]="'required'">Server is required</ui-form-field-error>

  <div class="inline-block mx-2 my-2">
    <i class="inline-block mx-1 text-2xl align-middle fa-regular fa-envelope w-8 text-mmRust"></i>
    <input
      type="text"
      placeholder="wol@scions.org"
      formControlName="email"
      class="border-b border-gray-800 dark:border-gray-500 inline-block align-middle px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none placeholder:text-gray-500 text-mmRust" />
  </div>

  <div class="inline-block mx-2 my-2">
    <i class="inline-block mx-1 text-2xl align-middle fa-solid fa-key w-8 text-mmRust"></i>
    <input
      type="password"
      placeholder="Password"
      formControlName="password"
      class="border-b border-gray-800 dark:border-gray-500 inline-block align-middle px-3 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none placeholder:text-gray-500 text-mmRust" />
  </div>

  <br />

  <div class="inline-block mx-2 my-2">
    <i class="inline-block mx-1 text-2xl align-middle fa-solid fa-repeat w-8 text-mmRust"></i>
    <input
      type="password"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      class="border-b border-gray-800 dark:border-gray-500 inline-block align-middle px-3 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none placeholder:text-gray-500 text-mmRust" />
  </div>

  <div class="inline-block mx-2 my-2">
    <i class="inline-block mx-1 text-2xl align-middle fa-solid fa-user-large w-8 text-mmRust"></i>
    <input
      type="text"
      placeholder="Character Name"
      formControlName="characterName"
      class="border-b border-gray-800 dark:border-gray-500 inline-block align-middle px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none outline-none placeholder:text-gray-500 text-mmRust" />
  </div>

  <br />

  <div class="inline-block mx-2 my-2">
    <i class="inline-block mx-1 text-2xl align-middle fa-solid fa-globe w-8 text-mmRust"></i>

    <select
      formControlName="characterServer"
      class="border-b border-gray-800 dark:border-gray-500 inline-block align-middle px-2 py-1 bg-mmDarkSand dark:bg-gray-900 shadow-none hover:cursor-pointer outline-none placeholder:text-gray-500 text-mmRust">
      <optgroup label="Aether">
        <option>Adamantoise</option>
        <option>Cactuar</option>
        <option>Faerie</option>
        <option>Gilgamesh</option>
        <option>Jenova</option>
        <option>Midgardsormr</option>
        <option>Sargatanas</option>
        <option>Siren</option>
      </optgroup>
      <optgroup label="Crystal">
        <option>Balmung</option>
        <option>Brynhildr</option>
        <option>Coeurl</option>
        <option>Diabolos</option>
        <option>Goblin</option>
        <option>Malboro</option>
        <option>Mateus</option>
        <option>Zalera</option>
      </optgroup>
      <optgroup label="Dynamis">
        <option>Cuchulainn</option>
        <option>Golem</option>
        <option>Halicarnassus</option>
        <option>Kraken</option>
        <option>Maduin</option>
        <option>Marilith</option>
        <option>Rafflesia</option>
        <option>Seraph</option>
      </optgroup>
      <optgroup label="Primal">
        <option>Behemoth</option>
        <option>Excalibur</option>
        <option>Exodus</option>
        <option>Famfrit</option>
        <option>Hyperion</option>
        <option>Lamia</option>
        <option>Leviathan</option>
        <option>Ultros</option>
      </optgroup>
    </select>
  </div>

  <br />

  <button
    [disabled]="isLoading$ | async"
    class="bg-mmBlue font-bold text-gray-100 rounded-md px-3 py-2 my-3 hover:bg-mmDarkBlue active:bg-mmDarkerBlue disabled:bg-slate-500"
    type="submit">
    Create Account
  </button>

  <div>
    <p class="text-xs">
      By creating an account, you agree to the
      <a class="underline hover:text-ksNavy" [routerLink]="['/terms']">Terms,</a>
      <a class="underline hover:text-ksNavy ml-1" [routerLink]="['/privacy-policy']">Privacy Policy,</a>
      and
      <a class="underline hover:text-ksNavy" [routerLink]="['/content-guidelines']">Content Guidelines</a>
    </p>
  </div>
</form>
