<h1 class="text-5xl text-mmRust my-2 font-FFXIV uppercase text-center">Venue List</h1>
<div class="max-w-[85%] bg-amber-100 border border-amber-300 text-amber-600 p-2 text-center rounded-md mx-auto text-sm">
  <p>MiqoMixers is in beta. Thank you for your patience and feedback!</p>
</div>
<ui-form-error [formName]="FormName.VENUE_LIST"></ui-form-error>
<div *ngIf="isLoading$ | async" class="flex w-fit mx-auto my-5">
  <i class="flex-initial fa-solid fa-spinner animate-spin text-2xl mx-2"></i>
  <p class="flex-initial">Retrieving venues...</p>
</div>
<app-venue-post *ngFor="let venue of venues$ | async" [venue]="venue"></app-venue-post>
